/public/storage
/public/sitemap.xml
/public/out.xml
/public/robots.txt
/public/html/*
/node_modules
/storage/*.key
/vendor
.editorconfig
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**.DS_Store
.styleci.yml
.idea/
